@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.text-heading {
  color:  #139052;
  font-size: 3.5rem;
}

#navbar {
  background: #333;
  color: #fff;
  padding: 1.5rem 3rem;
  display: flex;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


#search {
  width: 100%;
  padding: 0.5rem;
  width: 30rem;
}

#content {
  display: flex;
  width: 100%;
  height: calc(100vh - 7rem);
}

#sidebar {
  background: #105f5c;
  padding: 1rem;
  flex: 1;
}

#sidebar ul {
  list-style: none;
  line-height: 2;
  padding: 0 0.75rem;
  margin-top: 1rem;
}

#sidebar ul li {
  font-size: 1.3rem;
  border-bottom: #333 solid 1px;
  padding: 0 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
}

#sidebar ul li:hover {
  background: #166b68;
  border: none;
}

#sidebar ul li span{
  margin-left: 2rem;
}

#current-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#artist-list {
  flex: 4;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 3rem;
}

#artist-list h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.3rem;
  color: #333;
}

.artist {
  display: flex;
  justify-content: flex-start;
  background: rgb(206, 206, 206);
  border-radius: 5px;
  width: 70rem;
  padding: 2.5rem;
  margin-top: 2rem;
  text-transform: capitalize;
}

.artist div {
  margin-right: 2rem;
}

.artist div div{
  background: #333;
  color: #fff;
  width: 50rem;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  margin-bottom: 2rem;
}

.artist div div:last-of-type {
  margin-bottom: 0;
}

.artist label {
  width: 10rem;
}

.artist h5 {
  display: inline-block;
}

.artist img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}